<app-header name="Chargebackgurus"></app-header>
<div
            class="content">
            <h1>This is<span> About </span> html content for chargebackgurus!</h1>
        </div>
        <div class="bg-color">Hi Vignesh Devan</div>
        <div>
        <div class="box-about leftbox">
            <ul>
                <li>
                    <a href="home"class="link">Home</a>
                </li>
                <li>
                    <a href="about"class="link">About</a>
                </li>
                <li>
                    <a href="contact"class="link">Contact</a>

                </li>
            </ul>
        </div>
        <div class="box-about rightbox">
            <ul>
                <li>
                    <a href="home"class="link">Login</a>
                </li>
                <li>
                    <a href="about"class="link">Register</a>
                </li>
            </ul>
        </div>
        <h1 [ngClass]="cssClassName">Hi click buttons to change the colour of class!</h1>
        <button class="button1" (click)="changeCssColor('class1')">Red</button>
        <button class="button2" (click)="changeCssColor('class2')">Blue</button>
        <button class="button3" (click)="changeCssColor('class3')">Green</button>
        
        <div *ngFor="let user of peopleList">
            <span [ngClass]="{'child':user.age>24}">{{user.name}}----{{user.age}}</span>
        </div>

        </div>
       
        <app-footer></app-footer>
